<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
	<f:render partial="MainMenu" arguments="{_all}"/>
	<f:if condition="!{data.is_siteroot} && {backendlayout}!='pagets__1colslider'">
		<f:render partial="Rootline" arguments="{_all}"/>
	</f:if>
	<!--TYPO3SEARCH_begin-->
	<f:render section="Main"/>
	<!--TYPO3SEARCH_end-->
	<f:render partial="Footer" arguments="{_all}"/>
</f:spaceless>
</html>