<div class="card h-100">
	<f:if condition="{data.header}">
		<h4 class="card-header">{data.header}</h4>
	</f:if>
	<div class="card-body">
		<div class="card-text">
			<f:if condition="{data.bodytext}">
				<f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.bodytext}</f:format.html><br />
			</f:if>
		</div>
	</div>
	<div class="card-footer">
		<f:if condition="{data.tx_vt9maskelements_vt9cardlink}">
			<f:link.typolink parameter="{data.tx_vt9maskelements_vt9cardlink}" class="btn btn-primary">{data.tx_vt9maskelements_vt9cardlinktext}</f:link.typolink>
		</f:if>
	</div>
</div>
