<f:if condition="{data_tx_vt9maskelements_vt9accordionelement}">
    <ul>
        <f:for each="{data_tx_vt9maskelements_vt9accordionelement}" as="data_item">
            <li>
                <f:if condition="{data_item.data.tx_vt9maskelements_vt9accordioncontent}">
    <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data_item.data.tx_vt9maskelements_vt9accordioncontent}</f:format.html><br />
</f:if>

<f:if condition="{data_item.data.tx_vt9maskelements_vt9accordiontitle}">
    {data_item.data.tx_vt9maskelements_vt9accordiontitle}<br />
</f:if>


            </li>
        </f:for>
    </ul>
</f:if>

