<f:if condition="{data.header}">
    {data.header}<br />
</f:if>

<f:if condition="{data.bodytext}">
    <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.bodytext}</f:format.html><br />
</f:if>

<f:if condition="{data.tx_vt9maskelements_vt9cardlink}">
    <f:link.page pageUid="{data.tx_vt9maskelements_vt9cardlink}">{data.tx_vt9maskelements_vt9cardlink}</f:link.page><br />
</f:if>

<f:if condition="{data.tx_vt9maskelements_vt9cardlinktext}">
    {data.tx_vt9maskelements_vt9cardlinktext}<br />
</f:if>

