<f:if condition="{data_tx_vt9maskelements_sliderelement}">
    <ul>
        <f:for each="{data_tx_vt9maskelements_sliderelement}" as="data_item">
            <li>
                <f:if condition="{data_item.data.tx_vt9maskelements_sliderdescription}">
    <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data_item.data.tx_vt9maskelements_sliderdescription}</f:format.html><br />
</f:if>

<f:if condition="{data_item.data_tx_vt9maskelements_sliderimage}">
    <f:for each="{data_item.data_tx_vt9maskelements_sliderimage}" as="file">
        <f:image image="{file}" alt="{file.alternative}" title="{file.title}" width="200" /><br />
        {file.description} / {file.identifier}<br />
    </f:for>
</f:if>

<f:if condition="{data_item.data.tx_vt9maskelements_slidertitle}">
    {data_item.data.tx_vt9maskelements_slidertitle}<br />
</f:if>


            </li>
        </f:for>
    </ul>
</f:if>

