<f:if condition="{processedRow.tx_vt9maskelements_vt9accordionelement}">
    <strong><f:translate key="LLL:EXT:vt9maskelements/Resources/Private/Language/locallang_db.xlf:tt_content.tx_vt9maskelements_vt9accordionelement" /></strong>
<br><f:for each="{processedRow.tx_vt9maskelements_vt9accordionelement}" as="item">
    <ul>
        <li>
            <f:translate key="LLL:EXT:vt9maskelements/Resources/Private/Language/locallang_db.xlf:tx_vt9maskelements_vt9accordionelement.tx_vt9maskelements_vt9accordiontitle" /> {item.tx_vt9maskelements_vt9accordiontitle} (id={item.uid})<br/>
        </li>
    </ul>
</f:for>
</f:if>
