<f:if condition="{processedRow.header}">
    <strong><f:translate key="LLL:EXT:frontend/Resources/Private/Language/locallang_ttc.xlf:header" /></strong>
    {processedRow.header} (raw={row.header})<br>
</f:if>
<f:if condition="{processedRow.bodytext}">
    <strong><f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_general.xlf:LGL.text" /></strong>
    {processedRow.bodytext} (raw={row.bodytext})<br>
</f:if>
<f:if condition="{processedRow.tx_vt9maskelements_vt9cardlink}">
    <strong><f:translate key="LLL:EXT:vt9maskelements/Resources/Private/Language/locallang_db.xlf:tt_content.tx_vt9maskelements_vt9cardlink" /></strong>
    {processedRow.tx_vt9maskelements_vt9cardlink} (raw={row.tx_vt9maskelements_vt9cardlink})<br>
</f:if>
<f:if condition="{processedRow.tx_vt9maskelements_vt9cardlinktext}">
    <strong><f:translate key="LLL:EXT:vt9maskelements/Resources/Private/Language/locallang_db.xlf:tt_content.tx_vt9maskelements_vt9cardlinktext" /></strong>
    {processedRow.tx_vt9maskelements_vt9cardlinktext} (raw={row.tx_vt9maskelements_vt9cardlinktext})<br>
</f:if>
