<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
<div class="footercontent">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<f:format.raw>{content100}</f:format.raw>
			</div>
			<div class="col-md-4">
				<f:format.raw>{content110}</f:format.raw>
			</div>
			<div class="col-md-4">
				<f:format.raw>{content120}</f:format.raw>
			</div>
		</div>
	</div>
</div>
<footer class="py-3 bg-dark">
	<div class="container">
		<div class="m-0 text-center text-white">
			<f:if condition="metaMenu">
				<ul class="metaMenu">
					<f:for each="{metaMenu}" as="metaMenuItem" iteration="metaMenuIterator">
						<f:render partial="MenuItemLink" arguments="{menuItem: metaMenuItem}"/>
						</li>
					</f:for>
				</ul>
			</f:if>
		</div>
	</div>
</footer>
</f:spaceless>
</html>
