<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
	<li class="{f:if(condition:'{issub}!=1', then:'nav-item')}{f:if(condition:'{menuItem.children}',then:' dropdown')}{f:if(condition:'{menuItem.active}',then:' active')}{f:if(condition:'{menuItem.current}',then:' current')}">
		<a class="nav-link{f:if(condition:'{issub}',then:' dropdown-item')}{f:if(condition:'{menuItem.children}',then:' dropdown-toggle')}" href="{menuItem.link}" target="{menuItem.target}"{f:if(condition:'{menuItem.data.abstract}',then: ' title="{menuItem.data.abstract}"')}>{menuItem.title}</a>
</f:spaceless>
</html>