<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
	<f:if condition="rootline">
		<div class="container">
			<ul class="rootline">
				<f:for each="{rootline}" as="rootlineItem" iteration="metaMenuIterator">
					<f:if condition="{rootlineItem.current}">
						<f:then>
							<li><span>{rootlineItem.title}</span>
						</f:then>
						<f:else>
							<f:render partial="MenuItemLink" arguments="{menuItem: rootlineItem}"/>
						</f:else>
					</f:if>
					</li>
				</f:for>
			</ul>
		</div>

	</f:if>
</f:spaceless>
</html>