<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
	<div id="searchForm">
		<f:format.raw>{searchform}</f:format.raw>
	</div>
</f:spaceless>
</html>